.sliderWrap2{
    position: absolute;
    right: 15px;
    top:150px;
     background-color: white;
    width: 30px;
    margin-bottom: 14px;
    border-radius: 4px;
    padding:4px;
    display: none;
 
}
.sliderWrap2 button{width:30px;padding: 0px;}
.navSlider{
    position: absolute;
    right: 0px;
    top:-160px;
    height:275px;
         z-index: 10;
    width: 56px;
}
