.fl{float: left;}
.fr{float: right;font-size: 13px;}
.smartg-main{width: 100%;height: 550px;position: absolute;border-radius: 5px;overflow: hidden;z-index: 10;}
.smartg-logo{width:50px;height: 30px;box-sizing: border-box;}
.smartg-logo img{    margin: 4px 0px 0px 18px;
    width: 18px;}
.smartg-input{width: 175px;height: 30px;line-height: 30px;box-sizing: border-box;}
.smartg-top{width: 100%;height:45px;padding-top: 15px;background: url('./src/assets/indexbg.png');}
.smartg-top a{color: white;    display: inline-block;
    line-height: 30px;    padding-left: 25px;
    font-size: 17px;}
.smartg-search{width: 235px;height: 30px;margin:0 auto;border: 1px solid #b8b8b8;background: #ebebeb;border-radius: 30px;float: right;    margin-right: 15px;}
.smartg-input input{width:134px;height: 100%;font-size: 14px;padding: 0px; border-right:1px solid #b8b8b8;text-indent: 10px;color: #333;    border-left: 1px solid #b8b8b8;box-sizing: border-box;border-radius: 0px;}
.smartg-input img{    width: 17px;
    margin: 7px 8px 0px 0px;}
.smartg-list{width: 100%;height:500px;background: #ebebeb;border-radius: 5px;}
.isMainVisble{display: none;}
.ulList-title{width:100%;height:30px;margin: 0 auto;line-height:30px;color: #a1a1a1}
.ulList-title p{padding-right: 20px;display: none;}
.ulList-title span{padding-left: 20px;}
.ulList-title span{font-size: 16px;color: black;}
.themes-main{width:100%;height: 420px;margin: 0 auto;overflow-y: scroll;line-height: 30px;    font-size: 15px;color: #1d334b;}
.themes-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 50px 8px 1px none;
    border-radius: 50px;
    background-color: none;
}
.themes-main::-webkit-scrollbar{
    width: 2px;
    margin-top:2px;
}
.themes-main::-webkit-scrollbar-thumb{
    background-color: #7d7d7d;
}	
.themes-main ul{width: 100%;}
.themes-main ul ul{text-indent: 10px;}
.themes-mainLi{background: #e2e0e0;    margin-bottom: 1px;height: 50px;line-height: 50px;}
.themes-mainLi:hover{background: #009899;color: white;}
.activeStyle{background: #009899;color: white;}
.themes-mainLi-child{width:100%;display: none;background: #ebebeb;text-indent: 25px;}
.themes-mainLi-child li{width:100%;height:40px;line-height: 40px;text-align: left;font-size: 15px;}
.checked-li{width:100px;height: 35px;line-height: 35px;text-align: center; color: #818181;background: #ebebeb;font-size: 14px;border-radius: 5px;float: left;margin-left: 15px;cursor: pointer;margin-top: 10px;}
.checked-li span{width:70px;display: inline-block; overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;}
.checked-li span:last-child{width: 10px;cursor: pointer;}
.checked-li img{width: 10px; margin: 13px 8px 0px 0px;float: right;}
.checked-item{position: absolute;top: 73px;left: 345px;z-index: 10}
.smartgInput-li { color: #000; position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;}
    .label-input{    line-height: 40px;}
.smartgInput-liImg{width: 20px;padding:10px;}
.shouqi-png{    margin: 15px auto;
    display: block;}
.bottom-slide{height: 40px;}

.smartg-titlePng{width: 17px;margin: 16px 25px;}
.smartg-titlegoPng{float: right;
        margin: 18px 25px;
    /*height: 15px;*/
}
